{% extends "header.html" %}

{% block content %}

<div class="container highlight-clean">
  <div class="row">
    <div class="col-md-6 col-xl-7">
      <h2>Class Description</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor, arcu ut pulvinar euismod, nunc sem egestas dolor, eu sodales tellus mi ac ante. Aliquam rutrum mi a tortor fermentum, sit amet faucibus sapien venenatis. Ut sit amet ultrices ligula, at accumsan turpis. Proin elit ipsum, dignissim a sem sed, laoreet interdum velit. Integer dictum elementum aliquet. Nullam rutrum enim quis mauris placerat, non ornare lectus faucibus. Nunc placerat, dolor nec vulputate pharetra, mauris justo posuere lectus, et rhoncus nisi dolor vel massa. Praesent viverra varius euismod.</p>
    </div>
    <div class="col-md-6 col-xl-5"><img src="https://via.placeholder.com/350x150"></div>
  </div>
</div>
<div class="container highlight-clean">
  <div class="row">
    <div class="col-md-6 col-xl-5"><img src="https://via.placeholder.com/350x150"></div>
    <div class="col-md-6 col-xl-7">
      <h2>Class Expectations</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor, arcu ut pulvinar euismod, nunc sem egestas dolor, eu sodales tellus mi ac ante. Aliquam rutrum mi a tortor fermentum, sit amet faucibus sapien venenatis. Ut sit amet ultrices ligula, at accumsan turpis. Proin elit ipsum, dignissim a sem sed, laoreet interdum velit. Integer dictum elementum aliquet. Nullam rutrum enim quis mauris placerat, non ornare lectus faucibus. Nunc placerat, dolor nec vulputate pharetra, mauris justo posuere lectus, et rhoncus nisi dolor vel massa. Praesent viverra varius euismod.</p>
    </div>
  </div>
</div>
<div class="container highlight-clean">
  <div class="row">
    <div class="col-md-12">
      <h2 style="text-align: center;">Class Resources</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><span>File 1</span></li>
        <li class="list-group-item"><span>File 2</span></li>
        <li class="list-group-item"><span>File 3</span></li>
      </ul>
    </div>
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item"><span>File 4</span></li>
        <li class="list-group-item"><span>File 5</span></li>
        <li class="list-group-item"><span>File 6</span></li>
      </ul>
    </div>
  </div>
</div>

{% endblock %}