{% extends "header.html" %}

{% block content %}

<div class="container highlight-clean">
  <div class="row">
    <div class="col-md-12">
      <h2 class="title shadow" style="text-align: center; font-size: 64px">Mr. Nguyen's Website <img src="/logo-rounded" width="64px" style="padding-left:10px"></img></h2>
    </div>
  </div>
</div>
<div class="container highlight-clean">
  <div class="row">
    <div class="col-md-6 col-xl-4"><img src="https://via.placeholder.com/350x150"></div>
    <div class="col-md-6 col-xl-8">
      <h2>Welcome</h2>
      <p>Welcome students and parents! Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla auctor, arcu ut pulvinar euismod, nunc sem egestas dolor, eu sodales tellus mi ac ante. Aliquam rutrum mi a tortor fermentum, sit amet faucibus sapien venenatis. Ut sit amet ultrices ligula, at accumsan turpis. Proin elit ipsum, dignissim a sem sed, laoreet interdum velit. Integer dictum elementum aliquet. Nullam rutrum enim quis mauris placerat, non ornare lectus faucibus. Nunc placerat, dolor nec vulputate pharetra, mauris justo posuere lectus, et rhoncus nisi dolor vel massa. Praesent viverra varius euismod.</p>
    </div>
  </div>
</div>

{% endblock %}