{% extends "header.html" %}
{% block content %}
<section class="bg-white photo-gallery">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Student Work</h2>
      <p class="text-center">Check out some of the cool projects my students produced blah blah blah..........</p>
    </div>
    <div class="row photos" data-bss-baguettebox="">
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
      <div class="col-sm-6 col-md-4 col-lg-3 item"><img class="img-fluid" src="https://via.placeholder.com/200x100"></div>
    </div>
  </div>
</section>
<div class="bg-light simple-slider">
  <div class="header">
    <h2 class="text-center">Baby Pictures</h2>
    <p class="text-center">Hello ppl, blah blah blah</p>
  </div>
  <div class="swiper-container">
    <div class="swiper-wrapper">
      <div class="swiper-slide" style="background: url(&quot;https://cdn.techfun.live/r/ky21gygf10a.png&quot;) center center / cover no-repeat"></div>
      <div class="swiper-slide" style="background: url(&quot;https://via.placeholder.com/200x100&quot;) center center / cover no-repeat;"></div>
      <div class="swiper-slide" style="background: url(&quot;https://via.placeholder.com/200x100&quot;) center center / cover no-repeat;"></div>
    </div>
    <div class="swiper-pagination"></div>
    <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div>
  </div>
</div>
{% endblock %}